/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Temp config for DSL1 port
 */


params {
  // Taken from luslab-nf-modules/configs/luslab-base.config
  append_outdir = true // Append timestamp to results folder
  outdir = './results' // Results output directory location
  verbose = true

  // Other
  'cutadapt' {
    args             = ""
    suffix           = ".trimmed"
    publish_dir      = "cutadapt"
    publish_results  = "all"
  }

  'star_align_reads' {
    args                 = "--outSAMtype BAM SortedByCoordinate"
    publish_dir          = "star_align_reads"
    publish_results      = "all"
    sjdbGTFfile          = ""
    sjdbFileChrStartEnd  = ""
    varVCFfile           = ""
  }
}
