/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Temp config for DSL1 port
 */


params {
  // Taken from luslab-nf-modules/configs/luslab-base.config
  append_outdir = true // Append timestamp to results folder
  outdir = './results' // Results output directory location
  verbose = true

  // Other
  'cutadapt' {
    args             = "-j 8 -a AGATCGGAAGAGC -m 12"
    suffix           = ".trimmed"
    publish_dir      = "cutadapt"
    publish_results  = "all"
  }

  'star_align_reads' {
    args                 = "--outFilterMultimapNmax 1 \
                            --outFilterMultimapScoreRange 1 \
                            --outSAMattributes All \
                            --alignSJoverhangMin 8 \
                            --alignSJDBoverhangMin 1 \
                            --outFilterType BySJout \
                            --alignIntronMin 20 \
                            --alignIntronMax 1000000 \
                            --outFilterScoreMin 10  \
                            --alignEndsType Extend5pOfRead1 \
                            --twopassMode Basic \
                            --outSAMtype BAM SortedByCoordinate"
    publish_dir          = "star_align_reads"
    publish_results      = "all"
    sjdbGTFfile          = ""
    sjdbFileChrStartEnd  = ""
    varVCFfile           = ""
  }

  'umi_tools' {
    suffix           = ".dedup"
    args             = '--umi-separator=":"'
    publish_dir      = "dedup"
  }

  'get_crosslinks' {
    suffix           = ".xl"
    publish_dir      = "get_crosslinks"
    publish_results  = "all"
  }
}
