/*
 * -------------------------------------------------
 *  Nextflow config file for local testing
 * -------------------------------------------------
*/

params {
  input = "$baseDir/assets/test_data/reads/prpf8-metadata.csv"
  fasta = "$baseDir/assets/test_data/indices/chr20.fa.gz"
  smrna_fasta = "$baseDir/assets/test_data/indices/small_rna.fa.gz"
}
