/*
 * -------------------------------------------------
 *  Nextflow config file for local testing
 * -------------------------------------------------
*/

params {
  input = "https://raw.githubusercontent.com/luslab/nf-core-clipseq/feat-testdata/assets/test_data/reads/prpf8-metadata.csv"
  fasta = "https://github.com/luslab/nf-core-clipseq/blob/feat-testdata/assets/test_data/indices/chr20.fa.gz"
  smrna_fasta = "https://github.com/luslab/nf-core-clipseq/blob/feat-testdata/assets/small_rna/Homo_sapiens/Homo_sapiens.final.smallRNA.fa.gz"
}
