/*
 * -------------------------------------------------
 *  Nextflow config file for local testing
 * -------------------------------------------------
*/

params {
  input = "$baseDir/assets/test_data/reads/prpf8-metadata.csv"
  fasta = "$baseDir/assets/test_data/indices/chr20.fa.gz"
  star_index = "$baseDir/assets/test_data/indices/star_chr20"
  smrna_fasta = "$baseDir/assets/test_data/indices/small_rna.fa.gz"
  fai = "$baseDir/assets/test_data/indices/chr20.fa.fai"
}

  //star_index = ""
  //bt2_index = ""
//   bt2_index = ["/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.1.bt2",
//             "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.2.bt2",
//             "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.3.bt2",
//             "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.4.bt2",
//             "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.rev.1.bt2",
//             "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.rev.2.bt2"]
