/*
 * ---------------------------------------------------
 *  Nextflow config file for deciding which parts of
 *  the pipeline will run
 * ---------------------------------------------------
 */

// Defaults
params {
    run_input_check         = true
    run_genome_prep         = true
    run_move_umi_to_header  = false
    // run_trim_galore_fastqc  = true
    // run_alignment           = true
    // run_read_filter         = true
    // run_umi_dedup           = true
    // run_calc_crosslinks     = true
    // run_peak_calling        = true
    // run_reporting           = true

}

if(params.extract_umi_header) { params.run_move_umi_to_header  = true  }

if(params.only_input) {
    params.run_genome_prep        = false
    // params.run_trim_galore_fastqc = false
    // params.run_alignment          = false
    // params.run_read_filter        = false
    // params.run_umi_dedup          = false
    // params.run_calc_crosslinks    = false
    // params.run_peak_calling       = false
    // params.run_reporting          = false
}

if(params.only_genome) {
    params.run_input_check        = false
    // params.run_trim_galore_fastqc = false
    // params.run_alignment          = false
    // params.run_read_filter        = false
    // params.run_umi_dedup          = false
    // params.run_calc_crosslinks    = false
    // params.run_peak_calling       = false
    // params.run_reporting          = false
}

if(params.only_extract_umi_header) {
    params.run_input_check        = false
    params.run_genome_prep        = false
    params.run_move_umi_to_header = true
    // params.run_trim_galore_fastqc  = false
    // params.run_alignment           = false
    // params.run_read_filter         = false
    // params.run_umi_dedup           = false
    // params.run_calc_crosslinks     = false
    // params.run_peak_calling        = false
    // params.run_reporting           = false
}

// if(params.only_trimming) {
//     params.run_alignment          = false
//     params.run_read_filter        = false
//     params.run_umi_dedup          = false
//     params.run_calc_crosslinks    = false
//     params.run_peak_calling       = false
//     params.run_reporting          = false
// }

// if(params.only_alignment) {
//     params.run_read_filter        = false
//     params.run_umi_dedup          = false
//     params.run_calc_crosslinks    = false
//     params.run_peak_calling       = false
//     params.run_reporting          = false
// }

// if(params.only_filtering) {
//     params.run_umi_dedup          = false
//     params.run_calc_crosslinks    = false
//     params.run_peak_calling       = false
//     params.run_reporting          = false
// }

// if(params.only_dedup) {
//     params.run_calc_crosslinks    = false
//     params.run_peak_calling       = false
//     params.run_reporting          = false
// }

// if(params.only_crosslinks) {
//     params.run_peak_calling       = false
//     params.run_reporting          = false
// }

// if(params.only_peakcalling) {
//     params.run_reporting          = false
// }
