/*
 * ---------------------------------------------------
 *  Nextflow config file for deciding which parts of
 *  the pipeline will run
 * ---------------------------------------------------
 */

// Defaults
params {
    run_input_check   = true
    run_genome_prep   = true
    run_preprocessing = true
    run_alignment     = true
    run_filtering     = true

}

if(params.only_input) {
    params.run_genome_prep   = false
    params.run_preprocessing = false
}

if(params.only_genome) {
    params.run_input_check   = false
    params.run_preprocessing = false
}

if(params.only_preprocessing) {
    params.run_input_check   = true
    params.run_genome_prep   = false
    params.run_preprocessing = true
}

if(params.only_alignment) {
    params.run_filtering = false
}

if(params.only_filtering) {
}

// if(params.only_dedup) {
//     params.run_calc_crosslinks    = false
//     params.run_peak_calling       = false
//     params.run_reporting          = false
// }

// if(params.only_crosslinks) {
//     params.run_peak_calling       = false
//     params.run_reporting          = false
// }

// if(params.only_peakcalling) {
//     params.run_reporting          = false
// }
