
/*
 * -------------------------------------------------
 * Nextflow config file for non-coding RNA reference paths
 * -------------------------------------------------
 * Defines reference non-coding RNA sequences genomes.
 */

params {
  ncrna {
    'human' {
      ncrna_fasta = "$baseDir/assets/ncrna/Homo_sapiens/Homo_sapiens.ncRNA.fa.gz"
    }
    'mouse' {
      ncrna_fasta = "$baseDir/assets/ncrna/Mus_musculus/Mus_musculus.ncRNA.fa.gz"
    }
    'rat' {
      ncrna_fasta = "$baseDir/assets/ncrna/Rattus_norvegicus/Rattus_norvegicus.ncRNA.fa.gz"
    }
    'fruitfly' {
      ncrna_fasta = "$baseDir/assets/ncrna/Drosophila_melanogaster/Drosophila_melanogaster.ncRNA.fa.gz"
    }
    'zebrafish' {
      ncrna_fasta = "$baseDir/assets/ncrna/Danio_rerio/Danio_rerio.ncRNA.fa.gz"
    }
    'yeast' {
      ncrna_fasta = "$baseDir/assets/ncrna/Saccharomyces_cerevisiae/Saccharomyces_cerevisiae.ncRNA.fa.gz"
    }
  }
}
