
/*
 * -------------------------------------------------
 *  Nextflow config file for small RNA reference paths
 * -------------------------------------------------
 * Defines reference small RNA sequences genomes.
 */

params {
    smRNA {
        'test' {
            bt2_ind = ["/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.1.bt2",
                        "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.2.bt2",
                        "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.3.bt2",
                        "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.4.bt2",
                        "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.rev.1.bt2",
                        "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.rev.2.bt2"]
        }

    // 'GRCh38' {

    // }
    // 'GRCm38' {

    // }
    // 'TAIR10' {

    // }
    // 'EB2' {
    // }
    // 'UMD3.1' {
 
    // }
    // 'WBcel235' {
  
    // }
    // 'CanFam3.1' {
 
    // }
    // 'GRCz10' {
 
    // }
    // 'BDGP6' {
  
    // }
    // 'EquCab2' {
 
    // }
    // 'EB1' {

    // }
    // 'Galgal4' {
 
    // }
    // 'Gm01' {
 
    // }
    // 'Mmul_1' {
 
    // }
    // 'IRGSP-1.0' {
 
    // }
    // 'CHIMP2.1.4' {
 
    // }
    // 'Rnor_6.0' {
 
    // }
    // 'R64-1-1' {
 
    // }
    // 'EF2' {
  
    // }
    // 'Sbi1' {

    // }
    // 'Sscrofa10.2' {
 
    // }
    // 'AGPv3' {
 
    // }
    // 'hg38' {
 
    // }
    // 'hg19' {
 
    // }
    // 'mm10' {
 
    // }
    // 'bosTau8' {
  
    // }
    // 'ce10' {
  
    // }
    // 'canFam3' {
 
    // }
    // 'danRer10' {
   
    // }
    // 'dm6' {
  
    // }
    // 'equCab2' {
  
    // }
    // 'galGal4' {
 
    // }
    // 'panTro4' {
   
    // }
    // 'rn6' {
   
    // }
    // 'sacCer3' {
  
    // }
    // 'susScr3' {
 
    // }
  }
}