
/*
 * -------------------------------------------------
 * Nextflow config file for small RNA reference paths
 * -------------------------------------------------
 * Defines reference small RNA sequences genomes.
 */

params {
  smrna {
    'human' {
      smrna_fasta = "$baseDir/assets/small_rna/Homo_sapiens/Homo_sapiens.smallRNA.fa.gz"
    }
    'GRCh37' {
      smrna_fasta = "$baseDir/assets/small_rna/Homo_sapiens/Homo_sapiens.smallRNA.fa.gz"
    }
    'GRCh38' {
      smrna_fasta = "$baseDir/assets/small_rna/Homo_sapiens/Homo_sapiens.smallRNA.fa.gz"
    }
    'hg38' {
      smrna_fasta = "$baseDir/assets/small_rna/Homo_sapiens/Homo_sapiens.smallRNA.fa.gz"
    }
    'hg19' {
      smrna_fasta = "$baseDir/assets/small_rna/Homo_sapiens/Homo_sapiens.smallRNA.fa.gz"
    }
    'mouse' {
      smrna_fasta = "$baseDir/assets/small_rna/Mus_musculus/Mus_musculus.smallRNA.fa.gz"
    }
    'GRCm38' {
      smrna_fasta = "$baseDir/assets/small_rna/Mus_musculus/Mus_musculus.smallRNA.fa.gz"
    }
    'mm10' {
      smrna_fasta = "$baseDir/assets/small_rna/Mus_musculus/Mus_musculus.smallRNA.fa.gz" 
    }
    'rat' {
      smrna_fasta = "$baseDir/assets/small_rna/Rattus_norvegicus/Rattus_norvegicus.smallRNA.fa.gz"
    }
    'Rnor_6.0' {
      smrna_fasta = "$baseDir/assets/small_rna/Rattus_norvegicus/Rattus_norvegicus.smallRNA.fa.gz"
    }
    'rn6' {
      smrna_fasta = "$baseDir/assets/small_rna/Rattus_norvegicus/Rattus_norvegicus.smallRNA.fa.gz"   
    }
    'fruitfly' {
      smrna_fasta = "$baseDir/assets/small_rna/Drosophila_melanogaster/Drosophila_melanogaster.smallRNA.fa.gz"
    }
    'dm6' {
      smrna_fasta = "$baseDir/assets/small_rna/Drosophila_melanogaster/Drosophila_melanogaster.smallRNA.fa.gz"     
    }
    'zebrafish' {
      smrna_fasta = "$baseDir/assets/small_rna/Danio_rerio/Danio_rerio.smallRNA.fa.gz"
    }
    'danRer10' {
      smrna_fasta = "$baseDir/assets/small_rna/Danio_rerio/Danio_rerio.smallRNA.fa.gz"     
    }
    'yeast' {
      smrna_fasta = "$baseDir/assets/small_rna/Saccharomyces_cerevisiae/Saccharomyces_cerevisiae.smallRNA.fa.gz"
    }
    'sacCer3' {
      smrna_fasta = "$baseDir/assets/small_rna/Saccharomyces_cerevisiae/Saccharomyces_cerevisiae.smallRNA.fa.gz"  
    }
  }
}
