
/*
 * -------------------------------------------------
 *  Nextflow config file for small RNA reference paths
 * -------------------------------------------------
 * Defines reference small RNA sequences genomes.
 */

params {
  smrna {
    'GRCh37' {
      smrna_fasta = "$baseDir/assets/small_rna/Homo_sapiens/Homo_sapiens.smallRNA.fa.gz"
    }
    'GRCh38' {
      smrna_fasta = "$baseDir/assets/small_rna/Homo_sapiens/Homo_sapiens.smallRNA.fa.gz"
    }
    'human' {
      smrna_fasta = "$baseDir/assets/small_rna/Homo_sapiens/Homo_sapiens.smallRNA.fa.gz"
    }

    // }
    'GRCm38' {
      smrna_fasta = "$baseDir/assets/small_rna/Mus_musculus/Mus_musculus.smallRNA.fa.gz"
    }
    'mouse' {
      smrna_fasta = "$baseDir/assets/small_rna/Mus_musculus/Mus_musculus.smallRNA.fa.gz"
    }
    // 'TAIR10' {

    // }
    // 'EB2' {

    // }
    // 'UMD3.1' {
 
    // }
    // 'WBcel235' {
  
    // }
    // 'CanFam3.1' {
 
    // }
    // 'GRCz10' {
 
    // }
    // 'BDGP6' {
  
    // }
    // 'EquCab2' {
 
    // }
    // 'EB1' {

    // }
    // 'Galgal4' {
 
    // }
    // 'Gm01' {
 
    // }
    // 'Mmul_1' {
 
    // }
    // 'IRGSP-1.0' {
 
    // }
    // 'CHIMP2.1.4' {
 
    // }
    'Rnor_6.0' {
      smrna_fasta = "$baseDir/assets/small_rna/Rattus_norvegicus/Rattus_norvegicus.smallRNA.fa.gz"
    }
    'rat' {
      smrna_fasta = "$baseDir/assets/small_rna/Rattus_norvegicus/Rattus_norvegicus.smallRNA.fa.gz"
    }
    // 'R64-1-1' {
 
    // }
    // 'EF2' {
  
    // }
    // 'Sbi1' {

    // }
    // 'Sscrofa10.2' {
 
    // }
    // 'AGPv3' {
 
    // }
    'hg38' {
      smrna_fasta = "$baseDir/assets/small_rna/Homo_sapiens/Homo_sapiens.smallRNA.fa.gz"
    }
    'hg19' {
      smrna_fasta = "$baseDir/assets/small_rna/Homo_sapiens/Homo_sapiens.smallRNA.fa.gz"
    }
    'mm10' {
      smrna_fasta = "$baseDir/assets/small_rna/Mus_musculus/Mus_musculus.smallRNA.fa.gz" 
    }
    // 'bosTau8' {
  
    // }
    // 'ce10' {
  
    // }
    // 'canFam3' {
 
    // }
    'danRer10' {
      smrna_fasta = "$baseDir/assets/small_rna/Danio_rerio/Danio_rerio.smallRNA.fa.gz"     
    }
    'zebrafish' {
      smrna_fasta = "$baseDir/assets/small_rna/Danio_rerio/Danio_rerio.smallRNA.fa.gz"
    }
    'dm6' {
      smrna_fasta = "$baseDir/assets/small_rna/Drosophila_melanogaster/Drosophila_melanogaster.smallRNA.fa.gz"     
    }
    'fruitfly' {
      smrna_fasta = "$baseDir/assets/small_rna/Drosophila_melanogaster/Drosophila_melanogaster.smallRNA.fa.gz"
    }
    // 'equCab2' {
  
    // }
    // 'galGal4' {
 
    // }
    // 'panTro4' {
   
    // }
    'rn6' {
      smrna_fasta = "$baseDir/assets/small_rna/Rattus_norvegicus/Rattus_norvegicus.smallRNA.fa.gz"   
    }
    'sacCer3' {
      smrna_fasta = "$baseDir/assets/small_rna/Saccharomyces_cerevisiae/Saccharomyces_cerevisiae.smallRNA.fa.gz"  
    }
    'yeast' {
      smrna_fasta = "$baseDir/assets/small_rna/Saccharomyces_cerevisiae/Saccharomyces_cerevisiae.smallRNA.fa.gz"
    }
    // 'susScr3' {
 
    // }
  }
}