/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests with a more complex sample setup
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/clipseq -profile test_full_small,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig 'test.config'

params {
    config_profile_name        = 'Test Full Small profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    input  = 'https://raw.githubusercontent.com/luslab/test-datasets/clipseq/v_2_0/samplesheets/multi-se-with-merge.csv'
}
