/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/clipseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/samplesheet/samplesheet_test_illumina_amplicon.csv'

    // Genome references
    // genome = 'R64-1-1'
    fasta = "/Users/cheshic/dev/test_data/clipseq/yeast_MitoV.fa.gz"
    smrna_fasta = "/Users/cheshic/dev/test_data/clipseq/homosapiens_smallRNA.fa.gz"
    gtf = "/Users/cheshic/dev/test_data/clipseq/yeast_MitoV.gtf.gz"
    target_genome_index = "/Users/cheshic/dev/test_data/clipseq/star.tar.gz"
    smrna_genome_index = "/Users/cheshic/dev/test_data/clipseq/bowtie.tar.gz"
    target_chrom_sizes = "/Users/cheshic/dev/test_data/clipseq/yeast_MitoV.fa.sizes"
    smrna_chrom_sizes = "/Users/cheshic/dev/test_data/clipseq/homosapiens_smallRNA.fa.sizes"
    // longest_transcript = "/Users/cheshic/dev/test_data/clipseq/longest_transcript.txt"
    // longest_transcript_fai = "/Users/cheshic/dev/test_data/clipseq/longest_transcript.fai"
    // longest_transcript_gtf = "/Users/cheshic/dev/test_data/clipseq/longest_transcript.gtf"

    // Logic
    debug          = true
    save_reference = true
    // save_merged_fastq   = true
    // save_trimmed        = true
    // save_align_intermed = true
    // save_unaligned_res  = true

    // // Processes
    // peka_params = "-p 0 -sr genome -sub False"
}
